/* Navbar styles */
.cbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%; /* Adjust the width as needed */
    height: 100%; /* Cover the entire height of the viewport */
    background-color: inherit; /* Transparent black background */
    color: inherit; /* Text color for navbar items */
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  /* Navbar link styles */
  .cbar a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cbar-icon{
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }

  .cbar-li{
    margin-top: 200px;
  }

